{% extends "base.html" %}
{% block content %}

    <div class="row p-0">
            <div class="col p-0">

                <div class="row h-75 m-0 p-0">
                    <div class="card m-0 p-0">
                        <div class="card-header"><b>Image</b></div>
                        <div class="card-body">
                            <div class="col">
                            <div class="row">
                                <div class="chart d-flex justify-content-center" id="chart-G1"></div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row h-25 m-0 p-0">
                        <div class="col-9">
                         <div class="card" id="parameters-panel">
                            <div class="card-header"><b>Image settings</b></div>
                            <div class="card-body">  <!--style="align: justified"-->
                                <div class="row">
                                    <div class="col-3 form-group">


                                    <b>FOV (mm)</b>
                                        <button type="button" class="btn btn-sm shadow-none"
                                                data-mdb-container="body"
                                                data-mdb-toggle="popover"
                                                data-mdb-placement="left"
                                                title="Field-of-View (FOV)"
                                                data-mdb-content="The real-world size of your image in units of distance (meters, millimeters, etc..">
                                            <i class="bi bi-question-circle-fill"></i>
                                        </button>
                                    <div class="d-flex flex-column justify-content-center">
                                    <input class="form-control" type="DecimalField" value="{{ session['game1']['FOV_scale']*1000}} " id="FOV_scale">
                                       <small id="fovhelp" class="text-danger d-none">
                                           FOV must be between 50 mm and 2500 mm.
                                            </small>
                                    </div>
                                    </div>
                                    <div class="col-3 form-group">

                                    <b>Matrix Size</b>
                                         <button type="button" class="btn btn-sm shadow-none"
                                            data-mdb-container="body"
                                            data-mdb-toggle="popover"
                                            data-mdb-placement="left"
                                            title="Matrix Size (original)"
                                            data-mdb-content="The number of rows and columns of your originally acquired image matrix.">
                                            <i class="bi bi-question-circle-fill"></i></button>

                                        <div class="d-flex flex-column justify-content-center">
                                    <input class="form-control" type="DecimalField" value="{{ session['game1']['Matrix_scale']}} " id="Matrix_scale">
                                         <small id="matrixsizehelp" class="text-danger d-none">
                                             Matrix size must be between 8 and 1000.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-3 form-group">

                                    <b>Voxel Size (mm)</b>
                                        <button type="button" class="btn btn-sm shadow-none"
                                            data-mdb-container="body"
                                            data-mdb-toggle="popover"
                                            data-mdb-placement="left"
                                            title="Voxel Size"
                                            data-mdb-content="A voxel is a cuboid and the smallest element that makes up an image. The voxel size is the length of each side of the cuboid.
                                             Voxel size = (FOV) / (matrix size)">
                                            <i class="bi bi-question-circle-fill"></i>
                                        </button>

                                        <div class="d-flex justify-content-center">
                                    <input class="form-control" disabled type="DecimalField" value="{{ session['game1']['Voxel_scale']*1000}} " id="Voxel_scale" style="">
                                        </div>

                                    </div>
                                    <div class="col-3 form-group"><label for="zero_fill" class="">Zero-fill matrix size</label>
                                    <button type="button" class="btn btn-sm shadow-none"
                                            data-mdb-container="body"
                                            data-mdb-toggle="popover"
                                            data-mdb-placement="top"
                                            title="Zero-Fill"
                                            data-mdb-content="An equal or higher matrix size than the original image’s. Any image can be zero-filled to have more voxels
                                        within the same FOV, but this operation does not add more information to the image.">
                                        <i class="bi bi-question-circle-fill"></i>
                                    </button>

                                <div class="d-flex flex-column justify-content-center">
                                <input class="form-control" value="128" id="zero_fill">
                                           <small id="zerofillhelp" class="text-danger d-none">
                                             Zero-fill must be between 8 and 1200.
                                            </small>
                                </div>
                                </div>
                                </div>

                                <script>
                                    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                                    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                                      return new bootstrap.Popover(popoverTriggerEl)
                                    })
                            </script>
                            <script>
                            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                              return new bootstrap.Popover(popoverTriggerEl)
                            })
                            </script>
                            </div>
                        </div>
                        <div class="card" id="windowing-panel">
                        <div class="card-header"><b>Windowing</b></div>
                        <div class="card-body">
                            <div class="range_container col">
                                <div class="form_control">
                                    <!-- Min part -->
                                     <div class="row sliders_control d-flex justify-content-left">
                                    {{ G1Form.from_slider_value(id="fromSlider", class="", min="0", max="100", value=(session['game1']['Min_scale'])*100) }}
                                    {{ G1Form.to_slider_value(id="toSlider", class="",min="0", max="100", value=(session['game1']['Max_scale'])*100) }}
                                         </div>


                                    <div class="row d-flex">
                                    <div class="col form_control_container" style="text-align: center">
                                        <div class="form_control_container__time">Min </div>
                                        <button type="button" class="btn btn-sm shadow-none"
                                    data-mdb-container="body"
                                    data-mdb-toggle="popover"
                                    data-mdb-placement="left"
                                    title="Min Level"
                                    data-mdb-content="The low cutoff point. All grayscale values below it will be seen as black">
                                    <i class="bi bi-question-circle-fill"></i></button>

                                        {{ G1Form.min_value(class="form-control container__time__input", id="fromInput", min="0", max="100", value=(session['game1']['Min_scale'] * 100),disabled=True) }}

                                        </div>

                                    <!-- Max part -->
                                    <div class="col form_control_container">  <!--style="position:relative; left:370px; top:2px"-->
                                        <div class="form_control_container">
                                        <div class="form_control_container__time d-flex justify-content-right">
                                            Max

                                            <button type="button" class="btn btn-sm shadow-none"
                                                    data-mdb-container="body"
                                                    data-mdb-toggle="popover"
                                                    data-mdb-placement="left"
                                                    title="Max Level?"
                                                    data-mdb-content="The high cutoff point. All grayscale values above it will be seen as white">
                                                    <i class="bi bi-question-circle-fill"></i>
                                            </button>

                                            {{ G1Form.max_value(class="form-control container__time__input", id="toInput", min="0", max="100", value=(session['game1']['Max_scale'] * 100), disabled=True) }}

                                        </div>
                                        </div>

                                    </div>
                                    </div>
                                </div>


                                <script>
                                var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                                var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                                  return new bootstrap.Popover(popoverTriggerEl)
                                })
                                </script>
                            </div>
                        </div>
                    </div>

                        </div>
                        <div class="col-3 p-0">
                            <button id="game1-run" class="btn btn-lg btn-success w-100 h-100">
                                <span class="spinner-border spinner-border-sm d-none h1" id="game1-spinner" role="status" aria-hidden="true"></span>
                                    <span class="h1">Run</span>
                                </button>
                        </div>
                    </div>
                            </div>
                        </div>


{% endblock %}

{% block questions %}
    <div class="card text-white bg-secondary mb-3 text-center" style="color: grey">
                        <div id="slide" class="carousel slide" data-bs-interval="false">
                            <div class="carousel-inner">
                                <form action="/games/1" method="POST">
                                {% for ind in range(success_text | length) %}
                                    {% set letters = ['a','b','c','d'] %}
                                    {% set active_text = 'active' if ind==0 else '' %}
                                        <div class="carousel-item {{active_text}}">
                                        <br>
                                    <div class="row d-flex justify-content-center align-items-baseline">
                                        <p class="h5">Q{{ ind + 1 }}:{{ questions[ind]['text']}}</p>
                                    </div>
                                        {% if (questions[ind]['main_image_path']) | length > 0 %}
                                        <img src=".{{ questions[ind]['main_image_path']}}" style="max-height:120px; width:auto ">
                                        {% endif %}
                                        {% for ind2 in range(questions[ind]['choices'] | length) %}
                                            {% if not uses_images[ind] %}
                                            <br><input type="radio" class="q{{ind}}-choice" id="q{{ind}}-{{letters[ind2]}}" name="mc-question" value="{{ letters[ind2] }}">
                                            <label for="q{{ind}}-{{letters[ind2]}}">{{ questions[ind]['choices'][ind2] }}</label>
                                            {% else %}
                                            <input type="radio"  class="q{{ind}}-choice" id="q{{ind}}-{{letters[ind2] }}" name="mc-question" value="{{ letters[ind2] }}">
                                            <label for="q{{ind}}-{{letters[ind2]}}"><img src=".{{ questions[ind]['choices'][ind2] }}" style="height: 150px; width:150px;"></label>
                                            {% endif %}
                                        {% endfor %}

                                        <p class="d-none">Correct choice: <span id="mc-correct-choice-{{ind}}">{{ questions[ind]['correct']}}</span></p>

                                            <br><div class="btn btn-large btn-primary answer-mc" id="answer-mc-{{ind}}">Submit</div>
                                        <br>
                                        <p id="mc-success-text-{{ind}}" class="d-none" style="color:palegreen">{{ success_text[ind] }}</p>
                                        <p id="mc-failure-text-{{ind}}" class="d-none" style="color:#ffb500">Wrong answer, try again!</p>

                                    </div>

                                {% endfor %}
                                </form>
                            </div>

                            <button class="carousel-control-prev" type="button" data-bs-target="#slide" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#slide" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>
                    </div>

{% endblock %}

{% block tasks %}
       <div class="card-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                             style="width: {{ session['game1']['task_completed']*25 }}%"
                             aria-valuenow="0" aria-valuemin="{{ session['game1']['task_completed']*25 }}" aria-valuemax="100"></div>

                    </div>
                    <!-- Show tab for each lab procedure -->
                    <ul class="nav nav-tabs nav-justified" id="game1-tab" role="tablist">
                        {% for tab in instructions['tabs'] %}
                            {% if loop.index == ([session['game1']['task_completed'] + 1,4] | min) %}
                                {% set active = 'active' %}
                            {% else %}
                                {% set active = '' %}
                            {% endif %}

                            {% set disabled = 'disabled' if loop.index > 1 + session['game1']['task_completed'] else '' %}
                            {% set aria_disabled = (disabled == 'disabled') %}

                            <li class="nav-item" role="presentation">
                                <button class="col nav-link {{ active }} {{ disabled }} text-info task_tab" id="task{{ loop.index }}-tab" data-bs-toggle="tab" data-bs-target="#step{{ loop.index }}"
                                        type="button" role="tab"  aria-controls="step{{ loop.index }}"
                                        aria-selected="{{ loop.index==1 }}" aria-disabled= "{{ aria_disabled }}">
                                    {{ tab }}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>

                    <!-- Instructions -->
                    <!-- Show content for each lab procedure -->
                    <div class="tab-content" id="game1-tab-content">
                        {% for task, task_details in instructions['tasks'].items() %}
                            {% if loop.index == ([session['game1']['task_completed'] + 1 , 4] | min) %}
                                {% set show_text = 'show' %}
                                {% set active_text = 'active' %}
                            {% else %}
                                {% set show_text = '' %}
                                {% set active_text = '' %}
                            {% endif %}
                            <div class="tab-pane fade {{ show_text }} {{ active_text }}" id="step{{ loop.index }}" role="tabpanel" aria-labelledby="step{{ loop.index }}-tab">
                                <div class="h4 text-info">{{ instructions['titles'][loop.index0] }}</div>

                                <ul class="accordion" id="instructions-accordion">
                                {% set task_index = loop.index %}
                                {% for step, details in instructions['explorations'][loop.index0].items() %}
                                      <li class="accordion-item">
                                          <div class="accordion-header row d-flex justify-content-center" id="heading{{ loop.index }}">
                                              <div class="col-2 d-flex align-items-center justify-content-center">
                                              <input class="form-check-input task-{{ task_index }}-check" type="checkbox" value="" aria-label="">
                                              </div>
                                            <div class="col-10">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                                                <strong>{{ step }}</strong>
                                            </button>
                                          </div>
                                          </div>
                                          <div class="accordion-collapse collapse" id="collapse{{ loop.index }}" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#instructions-accordion">
                                              <div class="accordion-body">
                                                    <span>{{ details }}</span>
                                              </div>
                                          </div>
                                      </li>
                                {% endfor %}

                                <!-- Special item -->
                                    <li class="accordion-item text-info">
                                          <div class="accordion-header row d-flex justify-content-center" id="heading-final-{{ task_index }}">

                                              <div class="col-2 d-flex align-items-center justify-content-center">
                                                <input class="form-check-input task-{{ task_index }}-check" id="final-task-of-{{ task_index }}" type="checkbox" disabled>
                                              </div>

                                            <div class="col-10">
                                            <button class="accordion-button collapsed final-task-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-final-{{ task_index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                                                <strong class="text-info">{{ task }}</strong>
                                            </button>
                                          </div>
                                          </div>
                                          <div class="accordion-collapse collapse" id="collapse-final-{{ task_index }}" aria-labelledby="heading-final-{{ task_index }}" data-bs-parent="#instructions-accordion">
                                              <div class="accordion-body">
                                                    <span>{{ task_details }}</span>
                                              </div>
                                          </div>
                                      </li>
                                </li>
                                </ul>



                                <div class="btn btn-info task-next-button" id="task{{ loop.index }}-next">Next</div>

                                <p class="d-none text-danger" id="task-message-{{ task_index }}">
                                    Complete and check all steps to move on.
                                </p>
                                {% set dnone = '' if session['game1']['task_completed'] >= task_index else 'd-none' %}

                                {% set success_message = 'This step has been completed' if task_index < 4 else
                                        'All steps complete. Congratulations! To earn the remaining stars, answer the questions to the right.' %}

                                <p class="{{ dnone }} text-success" id="task-success-{{ task_index }}">
                                    {{ success_message }}
                                    {% if task_index == 4 %}
                                        <a class="btn btn-large btn-success" href="/games/2"> Next game! </a>
                                    {% endif %}
                                </p>


                            </div>



                        {% endfor %}



                    </div>
                    </div>


{% endblock %}
{% block additional_imports %}

    <link rel="stylesheet" href="../static/styles/style_game1.css">

    <script src="../static/game1.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        let graphs_picture = {{ graphJSON_img | safe }};
        Plotly.plot('chart-G1',  graphs_picture,{});

     </script>


{% endblock %}