{% extends "base.html" %}
{% block content %}
<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-4">
            <div class="card">
                <div class="card-header">Sequence</div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" id="upload-form">
                        <input type="file" name="file" id="upload-input">
                        <div class="btn btn-lg btn-primary" id="upload-button">Upload</div>
                    </form>
                    <hr>
                    <div class="row">
                         <div class="col-5">
                        {{ template_form.min_time_field.label(class="form-label") }}
                        {{ template_form.min_time_field(class="form-control") }}
                        </div>
                        <div class="col-5">
                            {{ template_form.max_time_field.label(class="form-label") }}
                            {{ template_form.max_time_field(class="form-control") }}
                        </div>
                        <div class="col-2 d-flex align-items-bottom">
                            <button class="btn btn-lg btn-success" id="display-seq" disabled>Plot</button>
                        </div>
                    </div>

                    <hr>
                    <button class="btn btn-lg btn-success" id="compile-seq">Compile and run</button>

                </div>
            </div>
                      <div class="card">
                <div class="card-header">Mode</div>
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <span>Red pitaya 122.88</span>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <span>Enter "localhost" for simulation and RP IP address for hardware mode</span>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="ip-address">IP address:</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" id="ip-address"/>
                        </div>
                        <div class="col">
                            <button class="btn btn-info" id="update-ip">Update</button>
                        </div>
                    </div>


                </div>
            </div>
        <div class="card">
                <div class="card-header">Messages</div>
                <div class="card-body">
                    <ul>
                        <li>Load and display pulseq sequence using MaRCoS</li>
                        <li>Run pulseq sequence on Red Pitaya</li>
                        <li id="message-region"></li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="col-8">
            <div class="row h-100">
                <div class="card">
                    <div class="card-header">Sequence waveforms</div>
                    <div class="card-body">
                        <div class="chart h-100" id="psd-chart"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}


{% block additional_imports %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/scan.js"></script>

{% endblock %}