{% extends "base.html" %}
{% block content %}
<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-5">
            <div class="card">
                <div class="card-header">Sequence</div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" id="upload-form">
                        <input type="file" name="file" id="upload-input">
                        <div class="btn btn-lg btn-primary" id="upload-button">Upload</div>
                    </form>
                    <hr>
                    <div class="row">
                         <div class="col-5">
                        {{ template_form.min_time_field.label(class="form-label") }}
                        {{ template_form.min_time_field(class="form-control") }}
                        </div>
                        <div class="col-5">
                            {{ template_form.max_time_field.label(class="form-label") }}
                            {{ template_form.max_time_field(class="form-control") }}
                        </div>
                        <div class="col-2 d-flex align-items-bottom">
                            <button class="btn btn-lg btn-success" id="display-seq" disabled>Plot</button>
                        </div>
                    </div>

                    <hr>
                    <button class="btn btn-lg btn-success" id="compile-seq">Compile and run</button>

                </div>
            </div>
                      <div class="card">
                <div class="card-header">Settings</div>
                <div class="card-body">
                    <div class="row">
                    <div class="col-9">
                        <div class="row d-flex justify-content-center">
                            <label class="form-label" for="scan-mode">Mode</label>
                                <select class="form-select" id="scan-mode" aria-label="Default select example">
                                  <option value="0" selected>Seq file upload</option>
                                  <option value="1">Noise</option>
                                  <option value="2">FID</option>
                                  <option value="3">Spin Echo</option>
                                </select>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col form-group">
                                <label class="form-label">f0 (MHz)</label>
                                <input class="form-control" type="number" id="f0" value="15.53">
                            </div>
                              <div class="col form-group">
                                <label class="form-label">Pulse width (us)</label>
                                <input class="form-control" type="number" id="pulse-width" value="250">
                            </div>
                              <div class="col form-group">
                                <label class="form-label">Pulse power (0-1)</label>
                                <input class="form-control" type="number" id="pulse-power" value="0.5">
                            </div>
                        </div>
                    </div>
                    <div class="col-3 h-100">
                        <button id="update-settings" class="btn btn-lg btn-secondary h-100 w-100">Save</button>
                    </div>
                </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="ip-address">IP address:</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" id="ip-address"/>
                        </div>
                        <div class="col">
                            <button class="btn btn-info" id="update-ip">Update</button>
                        </div>
                    </div>


                </div>
            </div>
        <div class="card">
                <div class="card-header">Messages</div>
                <div class="card-body">
                    <ul>
                        <li>Load and display pulseq sequence using MaRCoS</li>
                        <li>Run pulseq sequence on Red Pitaya</li>
                        <li id="message-region"></li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="col-7">
            <div class="row h-50">
                <div class="card">
                    <div class="card-header">Sequence waveforms</div>
                    <div class="card-body">
                        <div class="chart h-100" id="psd-chart"></div>
                    </div>
                </div>
            </div>
            <div class="row h-50">
                <div class="card">
                    <div class="card-header">Received data</div>
                    <div class="card-body">
                        <div class="chart h-100" id="rx-plot"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}


{% block additional_imports %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/scan.js"></script>

{% endblock %}