{% extends "base.html" %}
{% block content %}
<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-4">
            <div class="card">
                <div class="card-header">Sequence</div>
                <div class="card-body">
                          <form method="POST" enctype="multipart/form-data" id="upload-form">
                        <input type="file" name="file" id="upload-input">
                        <div class="btn btn-lg btn-primary" id="upload-button">Upload</div>

                    </form>
                    <hr>
                    <button class="btn btn-lg btn-info" id="run-scan">Run</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">Info</div>
                <div class="card-body">
                    IP address
                    Red pitaya 122.88
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">Messages</div>
                <div class="card-body">
                    <ul>
                        <li>Load and display pulseq sequence using MaRCoS</li>
                        <li>Run pulseq sequence on Red Pitaya</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}


{% block additional_imports %}
    <script src="../static/game8.js"></script>
{% endblock %}