*{
    font-family: Arial;
}

.row{
    padding: 3px;
}

[class*="col"]{
    text-align: center;
    font-family: Arial sans-serif;
    font-size: 20px;
}

img{
    width: 120%;
    height: 100%;
}
#main-panel{
    background-color: #555555;
}

.image-container{
    min-width: 400px;
    min-height: 400px;
}

.nav-link{
    font-family: Arial sans-serif;
}


/* Slider bar ticks */
/*
@mixin range-track {
  -webkit-appearance: none;
  width: 100%;
  height: $unit * 4;
  color: transparent;
  background: lightgray;
  border-radius: 999px;
  border: none;
}
@mixin range-thumb {
  -webkit-appearance: none;
  height: $unit * 4;
  width: $unit * 4;
  border-radius: 30px;
  background: black;
  box-shadow: 0px 2px 10px -2px black(1);
}
input[type=range] {
  -webkit-appearance: none;
  display: block;
  margin: 0;
  width: 100%;
  background: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
  @include range-track();
}
input[type=range]::-moz-range-track {
  @include range-track();
}
input[type=range]::-ms-track {
  @include range-track();
}
input[type=range]::-ms-fill-lower {
  display: none;
}
input[type=range]::-ms-fill-upper {
  display: none;
}
input[type=range]::-webkit-slider-thumb {
  @include range-thumb();
}
input[type=range]::-moz-range-thumb {
  @include range-thumb();
}
input[type=range]::-ms-thumb {
  @include range-thumb();
}
*/

.ticks {
    box-sizing:border-box;
  display: flex;
  justify-content: space-between;

  padding: 0;
}
.tick {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1px;
  background: gray;

  height: 10px;
  line-height: 50px;
  margin-bottom: 20px;
}

.chart{
    overflow: hidden
}