/* Additional styles; imported last on all pages */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* Generel */
*{
    font-family: Arial sans-serif;
}

.row{
    padding: 3px;
}

[class*="col"]{
    text-align: center;
    font-family: Arial sans-serif;
    font-size: 20px;
}

img{
    width: 120%;
    height: 100%;
}
#main-panel{
    background-color: #555555;
}

.image-container{
    min-width: 400px;
    min-height: 400px;
}

.nav-link{
    font-family: Arial sans-serif;
}
.hide {
    display:none;
}

.myDIV:hover + .hide{
    display: block;
    color: blue;
}
.carousel-item {
    height:32rem;
    background: grey;
    color: gold
}
.carousel-inner{
    height: 450px;
    color: #F64C72
}
/* Ticks for range slider labeling */
.ticks {
    box-sizing:border-box;
  display: flex;
  justify-content: space-between;

  padding: 0;
}
.tick {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1px;
  background: gray;

  height: 10px;
  line-height: 50px;
  margin-bottom: 20px;
}
.chart{
    overflow: hidden
}

.tabs{
    width: 150%
}