{% extends "base.html" %}
{% block content %}
    <div class="container-fluid vh-100">
        <div class="row h-100">
            <div class="col-6 h-100">
                <div class="row card">
                    <div class="card-header">Phantom</div>
                    <div class="card-body">
                        <div class="chart" id="chart-G1">
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-6 h-100">
            <div class="row">
                    <div class="row-header"><b>FOV Metric:
                        {{G1Form.FOV_scale()}}
                        {{G1Form.FOV_scale.label}}
                    </b></div>
                </div>
            <div class="row">
                    <div class="row-header"><b>Matrix Size:
                        {{G1Form.Matrix_scale()}}
                        {{G1Form.Matrix_scale.label}}
                    </b></div>
                </div>
                <div class="row">
                    <div class="row-header"><b>Voxel Size:
                        {{G1Form.Voxel_scale()}}
                        {{G1Form.Voxel_scale.label}}
                    </b></div>
                </div>
                <div class="row">
                    <div class="row-header"><b>Zero Fill:
                        {{G1Form.zero_fill()}}
                    </b></div>
                </div>
                <div class="row">
                    <div class="row-header"><b>Min Scale
                        {{G1Form.min_scale()}}
                    </b></div>
                </div>
                <div class="row">
                    <div class="row-header"><b>Max Scale
                        {{G1Form.max_scale()}}
                    </b></div>
                </div>

            {{G1Form.submit_field(class="btn btn-primary")}}

                <div class="row-card">
                    <div class="card header bg-light">Messages after Run</div>
                    <div class="card body"><i>There are no left messages to display</i></div>
                </div>

                </div>
            </div>

            </div>



{% endblock %}

{% block additional_imports %}
    <script src="../static/game1.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        let graphs_picture = {{ graphJSON_img | safe }};
        Plotly.plot('chart-G1',  graphs_picture, {});
     </script>
{% endblock %}