{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alphal/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17SuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=Neo, initial-scale=1.0">
    <title>Tabs</title>
    <link href='style.css' rel='stylesheet'>

</head>

    <div class="container-fluid vh-100">
        <div class="row h-100">
            <div class="col-6 h-100">
                 <form action="/games/3" method="POST">
                     {{ G3Form.hidden_tag() }}
                 <div class="progress">
                     {% if session['game3']['completed_task'] == 0 %}
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                      {% elif session['game3']['completed_task'] == 1 %}
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 33.333333%" aria-valuenow="33.33333" aria-valuemin="0" aria-valuemax="100">33.33%</div>
                        {% elif session['game3']['completed_task'] == 2 %}
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 66.6666666%" aria-valuenow="66.6666" aria-valuemin="0" aria-valuemax="100">66.66%</div>
                        {% elif session['game3']['completed_task'] == 3 %}
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                        {% endif %}
                 </div>
                <div class="tabs">
       {% if session['game3']['current_task'] == 1 %}
          {% set task1_status = 'is-active' %}
     {% elif session['game3']['current_task'] == 2 %}
          {% set task2_status = 'is-active' %}
     {% elif session['game3']['current_task'] == 3 %}
          {% set task3_status = 'is-active' %}
     {% elif session['game3']['current_task'] == 4 %}


    {% endif %}
    {% if session['game3']['current_task'] == 1 %}
      <div class="tabs__head" style="width: 40%">
        <div class="tabs__toggle {{ task1_status }}">
          <span class="tabs__name">T1, T2, and PD</span>
        </div>
      </div>
    {% elif session['game3']['current_task'] == 2 %}
        <div class="tabs__head" style="width: 120%">
        <div class="tabs__toggle {{ task1_status }}">
          <span class="tabs__name">T1, T2, and PD</span>
        </div>
            <div class="tabs__toggle {{ task2_status }}">
          <span class="tabs__name">TR, TE, and FA</span>
        </div>
        </div>
    {% elif session['game3']['current_task'] == 3 %}
        <div class="tabs__head" style="width: 185%">
        <div class="tabs__toggle {{ task1_status }}">
          <span class="tabs__name">T1, T2, and PD</span>
        </div>
            <div class="tabs__toggle {{ task2_status }}">
          <span class="tabs__name">TR, TE, and FA</span>
        </div>
        <div class="tabs__toggle {{ task3_status }}">
          <span class="tabs__name">CSF, GM, and WM</span>
        </div>
        </div>
    {% endif %}
      <div class="tabs__body" style="width: 185%">
          {% if session['game3']['current_task'] == 1 %}
          {% set task1_status = 'is-active' %}
     {% elif session['game3']['current_task'] == 2 %}
          {% set task2_status = 'is-active' %}
     {% elif session['game3']['current_task'] == 3 %}
          {% set task3_status = 'is-active' %}
    {% endif %}
        <div class="tabs__content {{ task1_status }}">
          <h2 class="tabs__title">Instructions</h2>
          <p class="tabs__text">
              Explore each of the MR weighted scan types on the first panel and take notes on how contrast changes with each of them. Refer to the Messages Panel for further directions.
          </p>
          <h2 class="tabs__title">Task</h2>
            <form action="/games/3" method="POST">
            <p class="tabs_text">
                Answer the below question to test your knowledge and move on to the next task!
                <br>Which scan highlights fat and proteins?
                <br>{{ G3Form.P1_q() }}
                <br>{{ G3Form.submit_questions(class="btn btn-primary") }}
            </p>
            </form>
        </div>
        <div class="tabs__content {{ task2_status }}">
          <h2 class="tabs__title">Instructions</h2>
          <p class="tabs__text">
              Experiment with different TR, TE, and FA values to observe how each effects the image.
              Test out the following TR, TE, and FA values on the second panel to observe effects. Refer to the Messages Panel for further directions.
              <br><div class="form-check" style="font-size: .8em">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        A high TR (4000 - 5000) with low TE (0 - 150)
                      </label>
                    </div>
                    <div class="form-check" style="font-size: .8em">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                      <label class="form-check-label" for="flexCheckChecked">
                        A low TR (500 - 1500) with a low TE (0 - 150)
                      </label>
                    </div>
                    <div class="form-check" style="font-size: .8em">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                      <label class="form-check-label" for="flexCheckChecked">
                        A high TR (4000 - 5000) with a high TE (350 - 450)
                      </label>
                    </div>
          </p>
          <h2 class="tabs__title">Task</h2>
            <form action="/games/3" method="POST">
            <p class="tabs__text">
                Answer the below question to continue to next task!
                <br>What happens as the FA value increases?
                {{ G3Form.P2_q() }}
                <br>{{ G3Form.submit_questions(class="btn btn-primary") }}
            </p>
            </form>
        </div>
        <div class="tabs__content {{ task3_status }}">
          <h2 class="tabs__title">Instructions</h2>
          <p class="tabs__text">
              1. Click through pre-set T1, T2, and PD weighted scans on the first panel to observe how signal intensities of
              CSF, GM, and WM change.
              <br> 2. Change each value on Panel 2(TR, TE, and FA) and observe how it changes the signal intensities of
              CSF, GM, and WM.
              <br> 3. Refer to the Messages Panel for further directions.
              <br> 4. To test your understanding of this module answer questions in the Questions panel to earn more stars!
          </p>
            <h2 class="tabs__title">Task</h2>
            <form action="/games/3" method="POST">
            <p class="tabs__text">
                1. Answer the below question
                <br> In a T2 weighted scan, which tissue type results in the most signal intensity?
                {{ G3Form.P3_q() }}
                <br>{{ G3Form.submit_questions(class="btn btn-primary") }}

            </p>
            </form>
        </div>
      </div>
    </div>
                     <div class="row-card">
                         <div class="card-header">Messages Panel</div>
                         <div class="card-body">
                             {% if session['game3']['current_task'] == 1 %}
                             Panel 1: Click on T1, T2, or PD values to observe their impact on the scan! Click "Submit chosen parameters" to apply the scan type!
                             {% elif session['game3']['current_task'] == 2 %}
                             <br>Panel 2: Alter TR, TE, and FA values to observe their impact on the scan! Click "Submit chosen parameters" to apply the scan type!
                             {% endif %}
                             {% if session['game3']['current_task'] == 3 %}
                             <br>Panel 3: Change specific TR, TE, and FA values and observe signal intensity changes on the bar graph!
                             {% endif %}
                         </div>
                     </div>

                 <div class="row card">
                     <div class="card-header">Panel 1: Select
                         <button type="button" class="btn btn-sm" data-bs-toggle="popover" data-bs-placement="left" title="What is T1?"
                                    data-bs-content="longitudinal relaxation time tells us how long it takes for the z-component of the M vector to regrow from zero to about 63% of its maximum. Different tissues have different T1 values. Highlights fat and proteins">
                                <i class="bi bi-question-square"></i></button>
                         T1,
                         <button type="button" class="btn btn-sm" data-bs-toggle="popover" data-bs-placement="left" title="What is T2?"
                                    data-bs-content="transverse relaxation time tells us how long it takes for the xy-component of the M vector to decay from 100% to about 37%. Different tissues have different T2 values.">
                                <i class="bi bi-question-square"></i></button>
                         T2, or
                         <button type="button" class="btn btn-sm" data-bs-toggle="popover" data-bs-placement="left" title="What is PD?"
                                    data-bs-content="proton density tells us how many protons there are in a unit volume tissue. More signal is generated from tissues with higher PD.">
                                <i class="bi bi-question-square"></i></button>
                         PD weighted scan

                     </div>
                     <div class="card-body btn-group">
                         {% for subfield in G3Form.options %}
                                {% if subfield.id == "options" %}
                                    {{ subfield(class="btn-check ", autocomplete="off",checked=session['game3']['options']=='T1') }}
                                {% elif subfield.id == "options-1" %}
                                    {{ subfield(class="btn-check ", autocomplete="off",checked=session['game3']['options']=='T2') }}
                                {% else %}
                                    {{ subfield(class="btn-check ", autocomplete="off", checked=session['game3']['options']=='PD') }}
                                {% endif %}
                                {{ subfield.label(class="btn btn-outline-primary d-flex align-items-center justify-content-center") }}

                            {% endfor %}




                     </div>
                 </div>
                 <div class="row card">
                     <div class="class-header">Panel 2: Self-Input TR, TE, and FA values</div>
                     <div class="card-body">
                         <div class="row">
                             <div class="col-4">
                                 <button type="button" class="btn btn-sm" data-bs-toggle="popover" data-bs-placement="left" title="What is TR?"
                                data-bs-content="Repetition Time (TR) is the time difference between one set of RF pulses and the next set,
                                                which we use to repeatedly excite the protons. This ensures that the signal is consistent as we build
                                                up an MR image.">
                                <i class="bi bi-question-square"></i></button>
                                 {{ G3Form.TR.label }}
                             </div>
                             <div class="col-8">
                                 <div class="row">
                                     {{ G3Form.TR(class="form-range", id='TR', step=0.1, value=session['game3']['TR']) }}
                                 </div>
                                 <div class="ticks text-primary">
                                     {% for angle in [500, 1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000] %}
                                     <span class="tick">{{ angle }}</span>
                                     {% endfor %}
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-4">
                                 <button type="button" class="btn btn-sm" data-bs-toggle="popover" data-bs-placement="left" title="What is TE?"
                                data-bs-content="Echo Time (TE) is the time difference between the time when the RF pulse arrives at the target
                                                to the time when the signal bounces back and hits a peak">
                                <i class="bi bi-question-square"></i></button>
                                 {{ G3Form.TE.label }}</div>
                             <div class="col-8">
                                 <div class="row">
                                     {{ G3Form.TE(class="form-range", id="TE", step=0.1, value=session['game3']['TE']) }}
                                 </div>
                                 <div class="ticks text-primary">
                                     {% for angle in [0, 50, 100, 150, 200, 250, 300, 350, 400, 450] %}
                                     <span class="tick">{{ angle }}</span>
                                     {% endfor %}
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-4">
                                 <button type="button" class="btn btn-sm" data-bs-toggle="popover" data-bs-placement="left" title="What is FA?"
                                data-bs-content="Flip Angle (FA) is the amount we tip the magnetization vector using an RF pulse.
                                                    It can be measured in degrees or radians.">
                                <i class="bi bi-question-square"></i></button>
                                 {{ G3Form. FA.label }}</div>
                             <div class="col-8">
                                 <div class="row">
                                     {{ G3Form.FA(class="form-range", id="FA", step=5, value=session['game3']['FA']) }}
                                 </div>
                                 <div class="ticks text-primary">
                                     {% for angle in [0,45,90,135,180,225,270,315,360] %}
                                     <span class="tick">{{ angle }}</span>
                                {% endfor %}
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="row card">
                     <div class="row-header">CSF, GM, and WM signal levels</div>
                     <div class="row-body">
                         <div class="chart" id="chart-G3-bar">

                         </div>
                     </div>
                 </div>
                 </form>
            </div>
             <div class="col-6 h-100">
                 <form action="/games/3" method="POST">
                    {{ G3Form.hidden_tag() }}
                <div class="row card">
                    <div class="card-header">Image</div>
                    <div class="card-body">
                        <div class="chart" id="chart-G3">
                        </div>
                        <br>{{G3Form.submit(class="btn btn-primary")}}
                    </div>
                </div>

                <div class="row-card">
                    <div class="card-header">Questions</div>
                    <div class="card text-white bg-secondary mb-3" style="color: grey">
                        <div id="slide" class="carousel slide" data-bs-interval="false">
                            <div class="carousel-indicators"><button type="button" data-bs-target="#slide" data-bs-slide-to="0" class="active"></button>
                                <button type="button" data-bs-target="#slide" data-bs-slide-to="1"></button>
                                <button type="button" data-bs-target="#slide" data-bs-slide-to="2"></button>
                                <button type="button" data-bs-target="#slide" data-bs-slide-to="3"></button>
                                <button type="button" data-bs-target="#slide" data-bs-slide-to="4"></button>
                                <button type="button" data-bs-target="#slide" data-bs-slide-to="5"></button>
                                <button type="button" data-bs-target="#slide" data-bs-slide-to="6"></button>

                            </div>
                            <div class="carousel-inner">
                                <form action="/games/3" method="POST">
                                {% for ind in range(success_text | length) %}
                                    {% set letters = ['a','b','c','d'] %}
                                    {% set active_text = 'active' if ind==0 else '' %}
                                    <div class="carousel-item {{active_text}}">
                                        <h2>Question {{ ind+1 }}</h2>
                                        <br>{{ questions[ind]['text'] }}
                                        {% if (questions[ind]['main_image_path']) | length > 0 %}
                                        <br><img src=".{{ questions[ind]['main_image_path']}}" style="height:100px; width:100px;">
                                        {% endif %}
                                        {% for ind2 in range(questions[ind]['choices'] | length) %}
                                            {% if not uses_images[ind] %}
                                            <br><input type="radio" class="q{{ind}}-choice" id="q{{ind}}-{{letters[ind2]}}" name="mc-question" value="{{ letters[ind2] }}">
                                            <label for="q{{ind}}-{{letters[ind2]}}">{{ questions[ind]['choices'][ind2] }}</label>
                                            {% else %}
                                            <input type="radio"  class="q{{ind}}-choice" id="q{{ind}}-{{letters[ind2] }}" name="mc-question" value="{{ letters[ind2] }}">
                                            <label for="q{{ind}}-{{letters[ind2]}}"><img src=".{{ questions[ind]['choices'][ind2] }}" style="height: 150px; width:150px;"></label>
                                            {% endif %}
                                        {% endfor %}

                                        <p class="d-none">Correct choice: <span id="mc-correct-choice-{{ind}}">{{ questions[ind]['correct']}}</span></p>


                                        <br><div class="btn btn-large btn-primary answer-mc" id="answer-mc-{{ind}}">Submit</div>
                                        <p id="mc-success-text-{{ind}}" class="d-none">{{ success_text[ind] }}</p>
                                    </div>

                                {% endfor %}

                                </form>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#slide" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#slide" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                </div>

                </form>
                     </div>
                 </div>
        <br><div class="row card">
                    <div class="card header bg-light"><b>Star Count: 5 stars to <i>mastery!</i></b></div>
                        <div class="card body">
                               <p class="font-monospace" id="stars-display">
                                   {% set num_stars = session['game3']['progress'].num_stars %}
                                   {% set num_full = (num_stars | round(0,'floor') )| int %}
                                   {% set num_half = ((2*(num_stars-num_full)) | round) | int %}
                                   {% set num_empty = 5 - num_full - num_half %}
                                   {% set star_array = [] %}
                                    <span>{{ num_stars }}/5 stars earned</span>
                                   {% for f in range(num_full) %}
                                        {% set star_array = star_array.append(2) %}
                                   {% endfor %}
                                   {% for h in range(num_half) %}
                                        {% set star_array = star_array.append(1) %}
                                   {% endfor %}
                                   {% for e in range(num_empty) %}
                                       {% set star_array = star_array.append(0) %}
                                    {% endfor %}

                                   {% for star in star_array %}
                                       {% if star == 2 %}
                                            <i class="bi bi-star-fill"></i>
                                       {% elif star == 1 %}
                                           <i class="bi bi-star-half"></i>
                                       {% else %}
                                           <i class="bi bi-star"></i>
                                       {% endif %}
                                   {% endfor %}
                                   {% if session['game3']['star_count'] == 5.0 %}
                                    Continue to Game 3 to collect more stars!
                                   {% endif %}
                               </p>
                        </div>
                    </div>
             </div>

{% endblock %}

{% block additional_imports %}
    <script src="../static/game3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        let graphs_picture = {{ graphJSON_img | safe }};
        Plotly.plot('chart-G3', graphs_picture, {});

    </script>
    <script type="text/javascript">
        let bar_graph = {{ graphJSON_bar | safe }};
        Plotly.plot('chart-G3-bar', bar_graph, {});
    </script>
{% endblock %}
