{% extends "base.html" %}

<!-- TODO add in nested templates so only the games have the display, messages, and main panel(outer) -->

{% block content %}


<!-- Display -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <div class="card bg-dark">
            <img src="../static/placeholder.png" class="img-fluid">
          </div>
        </div>
   <div class="col-4">
          <div class="card bg-dark">
            <img src="../static/placeholder.png" class="img-fluid">
          </div>
        </div>   <div class="col-4">
          <div class="card bg-dark">
            <img src="../static/placeholder.png" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <!-- Message Card -->
    <div class="card bg-danger">
      <div class="card-body">
        <p class="text-white">Warning! This web app is still in development. Do not trust whatever it says.</p>
      </div>
    </div>



<!-- Input fields -->
<div class="container-fluid" id="main-panel">
  <div class="row card">
      {% block fields %}
      {% endblock %}
  </div>


</div>

{% endblock %}