{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alphal/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17SuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</head>
    <div class="container-fluid vh-100">
        <div class="row h-100">
            <div class="col-6 h-100">
                <form action="/games/3" method="POST">
                    {{ G3Form.hidden_tag() }}
                <div class="row card">
                    <div class="card-header">Image</div>
                    <div class="card-body">
                        <div class="chart" id="chart-G3">
                        </div>
                    </div>
                </div>
                <div class="row-card">
                    <div class="card-header">Questions</div>
                    <div class="card-body">
                        <div id="slide" class=" carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#slide" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#slide" data-bs-slide-to="1"></button>
                        </div>

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h2><b>Question 1</b></h2>
                                    <br>Which scan type outputs the lowest GM signal intensity?
                                    <br>{{ G3Form.P1_q() }}
                                    <br>{{G3Form.submit(class="btn btn-primary")}}
                                    {% if session['game3']['P1_q'] == 'T1' %}
                                    <br><i class="bi bi-patch-check"></i>
                                        <br><b>Good Job! You unlocked an achievement!</b>
                                    <br><i class="bi bi-bookmark-star"></i>

                                    {% elif session['game3']['P1_q'] == 'T2' %}
                                        <br>Try again!

                                    {% elif session['game3']['P1_q'] == 'T2' %}
                                        <br>Try again!

                                    {% endif %}
                                </div>
                                <div class="carousel-item"><h2>Question 2</h2></div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#slide" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#slide" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                            </div>
                    </div>
                </div>
                    <div class="row-card">
                        <div class="card-header">Hints for Questions</div>
                        <div class="card-body">

                            {% if session['game3']['P1_q'] == 'T1' %}
                            Continue to question 2 to challenge yourself!

                            {% elif session['game3']['P1_q'] == 'T2' %}
                            Options Change detected: Hover on the GM bar on the bar graph to note its values.

                            {% elif session['game3']['P1_q'] == 'PD' %}
                            Options Change detected: Hover on the GM bar on the bar graph to note its values.

                            {% elif session['game3']['P1_q'] == none %}
                            Answer Question 1!
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
             <div class="col-6 h-100">
                 <form action="/games/3" method="POST">
                     {{ G3Form.hidden_tag() }}
                 <div class="row card">
                     <div class="card-header">Select TE, TR, or PD weighted scan</div>
                     <div class="card-body">
                         {% for subfield in G3Form.options %}
                                {% if subfield.id == "options" %}
                                    {{ subfield(class="btn-check ", autocomplete="off",checked=session['game3']['options']=='T1') }}
                                {% elif subfield.id == "options" %}
                                    {{ subfield(class="btn-check ", autocomplete="off",checked=session['game3']['options']=='T2') }}
                                {% else %}
                                    {{ subfield(class="btn-check ", autocomplete="off", checked=session['game3']['options']=='PD') }}
                                {% endif %}
                                {{ subfield.label(class="btn btn-outline-primary d-flex align-items-center justify-content-center") }}

                            {% endfor %}

                            <br>{{G3Form.submit(class="btn btn-primary")}}


                     </div>
                 </div>
                {% if session['game3']['P1_q'] == 'T1' %}
                 <div class="row card">
                     <div class="class-header">Self-Input TR, TE, and FA values</div>
                     <div class="card-body">
                         <div class="row">
                             <div class="col-4">{{ G3Form.TR.label }}</div>
                             <div class="col-8">
                                 <div class="row">
                                     {{ G3Form.TR(class="form-range", id='TR', step=0.1, value=session['game3']['TR']) }}
                                 </div>
                                 <div class="ticks text-primary">
                                     {% for angle in [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1] %}
                                     <span class="tick">{{ angle }}</span>
                                     {% endfor %}
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-4">{{ G3Form.TE.label }}</div>
                             <div class="col-8">
                                 <div class="row">
                                     {{ G3Form.TE(class="form-range", id="TE", step=0.1, value=session['game3']['TE']) }}
                                 </div>
                                 <div class="ticks text-primary">
                                     {% for angle in [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1] %}
                                     <span class="tick">{{ angle }}</span>
                                     {% endfor %}
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-4">{{ G3Form. FA.label }}</div>
                             <div class="col-8">
                                 <div class="row">
                                     {{ G3Form.FA(class="form-range", id="FA", step=5, value=session['game3']['FA']) }}
                                 </div>
                                 <div class="ticks text-primary">
                                     {% for angle in [0,45,90,135,180,225,270,315,360] %}
                                     <span class="tick">{{ angle }}</span>
                                {% endfor %}
                                 </div>
                             </div>
                         </div>
                         <br>{{G3Form.submit(class="btn btn-primary")}}
                     </div>

                 </div>
                {% endif %}
                 <div class="row card">
                     <div class="row-header">CSF, GM, and WM signal levels</div>
                     <div class="row-body">
                         <div class="chart" id="chart-G3-bar">

                         </div>
                     </div>
                 </div>
                 </form>
                     </div>
                 </div>
             </div>

{% endblock %}

{% block additional_imports %}
    <script src="../static/game3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        let graphs_picture = {{ graphJSON_img | safe }};
        Plotly.plot('chart-G3', graphs_picture, {});

    </script>
    <script type="text/javascript">
        let bar_graph = {{ graphJSON_bar | safe }};
        Plotly.plot('chart-G3-bar', bar_graph, {});
    </script>
{% endblock %}
